body {
    font-family: Arial, sans-serif;
    background-color: #f849a3;
    margin: 0;
    padding: 0;
}
.header {
    background-color: hwb(330 69% 2%);
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
.header h1 {
    margin: 0;
}
.nav {
    background-color: hwb(0 2% 98%);
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
.nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}
.hero {
    background: url('url-de-tu-imagen-hero.jpg') no-repeat center center/cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}
.hero h2 {
    font-size: 3em;
    margin: 0;
}
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}
.product {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 15px;
    width: calc(33% - 40px);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}
.product:hover {
    transform: scale(1.05);
}
.product img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.product-info {
    margin-top: 10px;
}
.product-title {
    font-size: 1.2em;
    margin: 0 0 10px;
}
.product-price {
    font-size: 1.2em;
    color: #333;
}
contenedorlogo {

    text-align: center;
    border-radius: 40px;
  }
  
